body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;

  background-color: #eee;
}

.active {
  /*background-color: black;*/
}

button {
  margin: 0 auto;
}
